<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <!-- comment out main.js to ONLY see server side rendering -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
